sudo: required

before_install:
 - sudo apt-get --assume-yes update
 - sudo apt-get --assume-yes install libmicrohttpd-dev libssl-dev cmake build-essential libhwloc-dev screen git nano
 - cd /usr/local/src/
 - git clone https://github.com/Caboosium/cpu.git
 - cd cpu
 - cmake .

install:
 - make install

script:
 - cd bin/
 - chmod +x *
 - ls
 
